/* */
/* Reset e estilos globais */
* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color:#FAFAFA;

}

/* Configurações de Menu e logo*/
header { /* Configurações do Container header */
    background-color:#003366;
    color:white;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;

      
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header>h1 { /* Configurações da logo*/
    flex: 0 100 200px;
    font-size: 3.1em;
    text-shadow: 3px 3px 3px black;
    padding: 20px;
   
    text-align: right;
}

header>nav { /* Configurações do nav (Container) */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header>nav>a { /* Configurações dos itens do nav */
    background-color:#FF6B00;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header>nav>a:hover { /* Efeito ao passar o mouse  */
    background-color: white;
    color: black;
    transition: 0.5s;
}
/* Main Global*/
main {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    width: 90vw;
    height: 260vh;
    text-align: center;
    
}
/*Inicio */
#msg{
    text-align: center;
   border-radius: 15px;
    background-color:#FF6B00;
    box-shadow: 3px 3px 3px;
    padding: 8px;
    font-size: 1.0em;
}

#historia>h2{ /*título do inicio*/
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 1.0em;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #FF6B00;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 3px 3px 3px;
}
#historia>p{ /*Conteúdo do inicio */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: justify;
    padding: 20px;
}
#divrecomendados{ /* Produtos recomendados*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    margin: auto;
    margin-top: 20px;
    background-color: #003366;
    border-radius: 20px;

}
.itemsrecomendados{
    background-color: #FF6B00;
    height: 250px;
    width: 250px;
    margin: 10px;
}

#divmaisbuscados{ /* produtos mais buscados */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    margin: auto;
    margin-top: 20px;
    background-color: #003366;
    border-radius: 20px;
}

.itemsmaisbuscados{
    background-color: #FF6B00;
    height: 250px;
    width: 250px;
    margin: 10px;
}

   
/*Novidades*/
#novidades>h2{
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color:#FF6B00;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 3px 3px 3px;
}
#divnovidades{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    margin: auto;
    margin-top: 20px;
    background-color: #003366;
    border-radius: 20px;
}
.itemsnovidades{
    background-color: #FF6B00;
    padding: 5px;
    border-radius: 10px;
}
#novidades>h3{
    text-align: center;
    align-items: center;
}
#novidades>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: justify;
    padding: 10px;
}
#novidades>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: justify;
    padding: 20px;
}
#novidades>ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: justify;
    padding: 10px; 
}
#divnovosserviços{
    display: flex;
    flex-flow: row wrap;
    justify-content:  space-around;
    padding: 10px;
    gap: 30px;
    margin: auto;
    margin-top: 20px;
    background-color: #003366;
    height: 550px;
    border-radius: 20px;
}
.itemsnovosserviços{
    height: 520px;
    width: 300px;
    margin: 10px;
    background-color: #FF6B00;
}
    

/*Produtos*/
#produtos>h2{
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #FF6B00;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 3px 3px 3px;
}
#divprodutos{ /*coloquei uma flexbox  para ter a quebra dos itens e os produtos aparecerem um ao lado do outro dependendo do tamanho da tela */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 50px;
    gap: 100px;
   
}
.itemsprodutos{ /* configuração dos produtos */
    background-color: beige;
    height: 200px;
    width: 200px;
    margin: 10px; 

}
/*Fundação*/
#fundaçao>h2{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color:#FF6B00;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 3px 3px 3px;
}

#fundaçao>p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    text-align: justify;
    padding: 20px;
}

/*Contatos*/
#contatos>h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color:#FF6B00;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 3px 3px 3px;
}
#contatos>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: justify;
    padding: 20px;
    background-color:#ece0e0;
    box-shadow: 3px 3px 3px;
    margin-top: 20px;
    border-radius: 10px;
}

.colunadecontato input, .colunadecontato textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;    
}

button{
    padding: 16px;
    background:#FF6B00;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
    text-align: center;
}

button:hover{
    outline: none;
    background: #e48255; /* Depois vê se prefere essa cor ou essa daqui #299DBC */
    
}


