/* Configuração para telas menores */
/* Menu para telas menores */
header,
header>nav {
    flex-flow: column nowrap; /* Faz o Menu ficar em coluna em telas pequenas */
}

/* */
header>h1 {
    flex-basis: 50px; /*Tamanho da caixa h1 */
}

header>nav>a {
    width: 80vw; 
}

